<menu-principal></menu-principal>
<div id="content">
    <div class="inner">

            <article class="box post post-excerpt">
                <header>
                    <h2><p>Cursos do Campus {{$ctrl.campus_nome}}.</p></h2>
                </header>
        </article>
        <div>
            <div>
                <div class="panel-body">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Nome do Curso" ng-model="$ctrl.nome_curso" type="text" autofocus>
                            </div>
                        </fieldset>
                    </form>
                    <div>
                        <div>
                            <div class="table-responsive">
                                <table class = "table table-bordered table-striped table-hover">
                                    <tbody>
                                        <tr ng-repeat="curso in $ctrl.cursos | filter: $ctrl.nome_curso">
                                            <td> {{curso.codigo}} </td>
                                            <td><a ng-href="#detalhe">{{curso.nome}}</a> </td>
                                            <td>{{curso.turno}} </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
