<menu-principal></menu-principal>

<div id="content">
    <div class="inner">

        <article class="box post post-excerpt">
            <header>
                <h2><p>Sistema de Matrícula</p></h2>
            </header>
            
            <div>
                <div>
                    <div>
                        <tbody>
                            <td><input type="submit" value="Matricular" ng-click=Escolher() /></td>
                        </tbody>
                    </div>
                </div>
            </div>
        <br><br>


<!-- Escolha da opcao Listar -->             
            <section  ng-if='opcaolistar || (opcaolistar && gravando) || (opcaolistar && editando)' >
                <div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Nome do Campus" ng-model="$ctrl.nome_campus" type="text" autofocus>
                                </div>
                            </fieldset>
                        </form>
                </div>
                    <div>
                        <div class="table-responsive">
                            <table class = "table table-bordered table-striped table-hover">
                                <tbody>
                                    <tr ng-repeat="campus in $ctrl.campus | filter: $ctrl.nome_campus">
                                        <td> {{campus.id}} </td>
                                        <td><b>{{campus.nome}}</b></td>
                                        <td>
                                            <input type="submit" value="Selecionar" ng-click=listdptos(campus.id) />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
            
<!-- Resultado do comando de Listar -->            
            <section  ng-if='listando || (listando && gravando) || (listando && editando && selecteddisciplinas==false)' >
                <div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Nome do departamento" ng-model="$ctrl.nome_departamento" type="text" autofocus>
                                </div>
                            </fieldset>
                        </form>
                        <div>
                            <div class="table-responsive">
                                <table class = "table table-bordered table-hover">
                                    <tbody>
                                        <tr ng-repeat="departamento in $ctrl.departamentos | filter: $ctrl.nome_departamento">
                                            <td> {{departamento.sigla}} </td>
                                            <td> {{departamento.nome}} </td>
                                            <td>
                                                <input type="submit" value="Selecionar" ng-click=SelectDpto(departamento) />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
<!-- Resultado da Lista de Disciplinas por Departamento -->
            <section ng-if='selecteddisciplinas || (selecteddisciplinas && editando)'>
                <div class="panel-body">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Nome da Disciplina" ng-model="$ctrl.nome_disciplina" type="text" autofocus>
                            </div>
                        </fieldset>
                    </form>
                    <div>
                        <div class="table-responsive">
                            <table class = "table table-bordered table-hover">
                                <tbody>
                                    <tr ng-repeat="disciplina in $ctrl.disciplinas | filter: $ctrl.nome_disciplina">
                                        <td><b> {{disciplina.nome}} </b></td>
                                        <td><input type="submit" value="Matricular" ng-click=SelectDisciplina(disciplina) />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
            
<!-- Formulario para cadastrar -->
            <section  ng-if='gravando && listando==false && opcaolistar==false && selecionado'>
                <div class="inner">
                    <form role="form" ng-submit="Cadastrar()">
                        <fieldset>
                            <div>
                                <div class="table-responsive">
                                    <table class = "table table-bordered table-striped table-hover">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input type="text" placeholder="Nome" ng-model="$ctrl.disciplina.nome" class="form-control" required />
                                                </td>
                                            </tr>    
                                            <tr>
                                                <td>
                                                    <input type="text" placeholder="Código"  class="form-control" ng-model="$ctrl.disciplina.codigo" maxlength=4/>
                                                </td>
                                            <tr>
                                                <td>
                                                    <input type="text" placeholder="Créditos"  class="form-control" ng-model="$ctrl.disciplina.creditos" maxlength=15/>
                                                </td>
                                            <tr>
                                            <tr>
                                                <td>
                                                    <input type="submit" value="Salvar">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div><b>{{logCadastrar}}</b>
                            </div>                
                        </fieldset>
                    </form>
                </div>
            </section>


<!-- Formulario para selecionar o campus a editar -->            
            <section  ng-if='selecionado && editando'>
                <div class="inner">
                    <form role="form">
                        <fieldset>
                            <div>
                                <div class="table-responsive">
                                    <table class = "table table-bordered table-striped table-hover">
                                        <tbody>
                                            <tr>
                                                <td  bgcolor='#A4A4A4'><b>Nome</b></td>
                                                <td>
                                                    <input type="text" ng-model="$ctrl.disciplina.nome" class="form-control" required />
                                                </td>
                                            </tr>    
                                            <tr>
                                                <td  bgcolor='#A4A4A4'><b>Código</b></td>
                                                <td>
                                                    <input type="text"  class="form-control" ng-model="$ctrl.disciplina.codigo" maxlength=4/>
                                                </td>
                                            <tr>
                                                <td  bgcolor='#A4A4A4'><b>Créditos</b></td>
                                                <td>
                                                    <input type="text"   class="form-control" ng-model="$ctrl.disciplina.creditos"  maxlength=15/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td  bgcolor='#A4A4A4'><b>Turma Escolhida</b></td>
                                                <td>
                                                    <input type="text"   class="form-control" ng-model="#"  maxlength=1/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>
                                                    <input type="submit" value="Matricular" ng-click=Cadastrar() />
                                                    <input type="submit" value="Detalhar" href="/Detalhar/Matricular" />
                                                    
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div><b></b>
                            </div>                
                        </fieldset>
                    </form>
                </div>
            </section>

            
        </article>
                            </div>
    </div>
