    <div class="inner">
        <form role="form" ng-submit="$ctrl.cadastrar()">
            <fieldset>
    <label>Editar Usuário</label>
                <div>
                    <input type="text" ng-model="$ctrl.formulario.nome" value="$control.formulario.nome" class="form-control" required />
                </div>

                <div>
                    <input type="text" name="matricula" placeholder="Matricula" required="" id="matricula" class="form-control" ng-model="$ctrl.formulario.matricula" value='$ctrl.usuario.matricula' maxlength=9/>
                </div>
                <div>
                    <input type="text" name="cpf" placeholder="CPF" required="" id="cpf" class="form-control" ng-model="$ctrl.formulario.cpf" value='$ctrl.usuario.cpf' maxlength=11/>
                </div>
                <div>
                    <select placeholder="Escolha o Perfil" name="perfil" required="" id="perfil" ng-model="$ctrl.formulario.perfil">
                        <option disabled selected value>--Escolha um Perfil--</option>
                        <option value="Aluno">Aluno</option>
                        <option value="Admin">Administrador</option>
                        <option value="Profe">Professor</option>
                        <option value="Coord">Coordenador</option>
                    </select>
                </div> 
                <div>
                    <input type="text" name="email" placeholder="Email" required="" id="email" class="form-control" ng-model="$ctrl.formulario.email" />
                </div> 
                <div>
                    <select  placeholder="Escolha o Sexo" name="sexo" required="" id="sexo" ng-model="$ctrl.formulario.sexo">
                        <option disabled selected value>--Escolha o Sexo--</option>
                        <option value="M">Masculino</option>
                        <option value="F">Feminino</option>
                    </select>
                </div> 

                <div>
                    <input type="text" name="nome_pai" placeholder="Nome do pai" required="" id="nome_pai" class="form-control" ng-model="$ctrl.formulario.nome_pai" value='$ctrl.usuario.nome_pai' />
                </div> 
                <div>
                    <input type="text" name="nome_mae" placeholder="Nome da mae" required="" id="nome_mae" class="form-control" ng-model="$ctrl.formulario.nome_mae" value='$ctrl.usuario.nome_mae' />
                </div> 
                <div>
                    <input type="text" name="ano_conclusao" placeholder="Ano de conclusao" required="" id="ano_conclusao" class="form-control" ng-model="$ctrl.formulario.ano_conclusao" value='$ctrl.usuario.ano_conclusao' />
                </div> 
                <div>
                    <input type="text" name="identidade" placeholder="Identidade" required="" id="Identidade" class="form-control" ng-model="$ctrl.formulario.identidade" value='ctrl.usuario.identidade' />
                </div> 
                <div>
                    <input type="password" name="password" placeholder="Password" required="" id="password" class="form-control" ng-model="$ctrl.formulario.senha" />
                </div>                              
                <div>
                    <input type="submit" value="Cadastrar" />
                </div>
            <b>{{$ctrl.mensagem}}</b>

            </fieldset>
        </form>
</div>
