<menu-principal></menu-principal>

<div id="content">
    <div class="inner">

        <article class="box post post-excerpt">
            <header>
                <h2><p>Gerenciar Campus</p></h2>
            </header>
            
            <div>
                <div>
                    <div>
                        <tbody>
                            <td><input type="submit" value="Listar" ng-click=Listar() /></td>
                            <td><input type="button" value="Cadastrar" ng-click=Gravar() /></td>
                            <td><input type="button" value="Editar"/></td>
                        </tbody>
                    </div>
                </div>
            </div>
        <br><br>

<!-- Resultado do comando de Listar -->            
            <section  ng-if='listando'>
            <div>
                <div>
                    <div class="table-responsive">
                        <table class = "table table-bordered table-striped table-hover">
                            <tbody>
                                <tr ng-repeat="campus in $ctrl.campus | filter: $ctrl.nome_campus">
                                    <td> {{campus.id}} </td>
                                    <td><b>{{campus.nome}}</b></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </section>
            
<!-- Formulario para cadastrar -->
            <section  ng-if='gravando'>
            <div>
                <div>
                    <div class="table-responsive">
                        <table class = "table table-bordered table-striped table-hover">
                            <tbody>
                                <tr>
                                    <form role="form" ng-submit='$ctrl.Cadastrar()'>
                                    <td>
                                        <input class="form-control" placeholder="Nome do Campus" ng-model="$ctrl.formulario.nome" type="text" required="" class="form-control" autofocus>
                                    </td>
                                    <td>
                                        <input type="submit" value="Gravar"/>
                                    </td>
                                    </form>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </section>

        </article>
                            </div>
    </div>
