 <!--<menu-nav-principal></menu-nav-principal>  -->
  <nav class="navbar navbar-default" role="navigation">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Matrícula Web</a>
  </div>

  
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Inicio</a></li>
    </ul>
    
  </div>
</nav>

  <div class="container-fluid">
                
          <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-xs-10">
                            <a href="#" class="thumbnail logo">
                                <img src="mw/images/primary_logo.png" alt="" class="img-responsive">
                            </a>
                        </div>

                        </div>
           <article class="box post post-excerpt">
                     <header>
                          <center><h1><p>Selecione o seu Campus</p></h1><p><small><strong>Clique sobre o ID desejado</strong></small></p></center> 
                     </header>
            </article>

                  <div class="jumbotron">
                        
                    <div class="table-responsive">
				    	<table class = "table table-bordered table-hover">
				        <tbody>
				            <tr> 
				                <td> <strong> ID </strong>  </td>
				                <td> <strong> Nome </strong> </td>
				            </tr>
				            <tr ng-repeat="campus in $ctrl.campus">
				                <td>  <button type="button" class="btn btn-warning" ng-click="$ctrl.abrir(campus.id)"> {{campus.id}} </button> </td>
				                <td> {{campus.nome}} </td>
				            </tr>
				        </tbody>
				    	</table>
					</div>

                  </div>

			</div>
</div>
 














            