 <!--<menu-nav-principal></menu-nav-principal>  -->
  <div class="container-fluid">
                
          <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-xs-10">
                            <a href="#" class="thumbnail logo">
                                <img src="mw/images/primary_logo.png" alt="" class="img-responsive">
                            </a>
                        </div>

                        </div>

                  <div class="jumbotron">
                        
                    <div class="table-responsive">
				    	<table class = "table table-bordered table-hover">
				        <tbody>
				            <tr> 
				                <td> <strong> ID </strong>  </td>
				                <td> <strong> Nome </strong> </td>
				            </tr>
				            <tr ng-repeat="campus in $ctrl.campus">
				                <td>  <button type="button" class="btn btn-warning" ng-click="$ctrl.abrir(campus.id)"> {{campus.id}} </button> </td>
				                <td> {{campus.nome}} </td>
				            </tr>
				        </tbody>
				    	</table>
					</div>

                  </div>

			</div>
</div>
 














            