 <!--<menu-nav-principal></menu-nav-principal>  -->
                    <div class="jumbotron">
                        
                        <div class="table-responsive">
				    	<table class = "table table-bordered table-hover">
				        <tbody>
				            <tr> 
				                <td> <strong> ID </strong>  </td>
				                <td> <strong> Nome </strong> </td>
				            </tr>
				            <tr ng-repeat="campus in $ctrl.campus">
				                <td>  <button type="button" class="btn btn-warning" ng-click="$ctrl.abrir()"> {{campus.id}} </button> </td>
				                <td> {{campus.nome}} </td>
				            </tr>
				        </tbody>
				    	</table>
					</div>

                    </div>

 














            