<menu-principal></menu-principal>

<div id="content">
    <div class="inner">

        <article class="box post post-excerpt">
            <header>
                <h2><p>Gerenciar Usuários</p></h2>
            </header>
            
            <div>
                <div>
                    <div>
                        <tbody>
                            <td><input type="submit" value="Listar" ng-click=OpcaoListar() /></td>
                            <td><input type="button" value="Cadastrar" ng-click=Gravar() /></td>
                            <td><input type="button" value="Editar" ng-click=Editar() /></td>
                        </tbody>
                    </div>
                </div>
            </div>
        <br><br>


<!-- Escolha da opcao Listar -->             
            <section  ng-if='opcaolistar'>
            <div>
                <div>
                    <div class="table-responsive">
                        <table class = "table table-bordered table-striped table-hover">
                            <tbody>
                                <tr>
                                    <td>
                                        <input class="form-control" placeholder="Nome, CPF, ou Matrícula" ng-model="$ctrl.formulario.usuario" type="text" required class="form-control" autofocus />
                                    </td>
                                    <td>
                                         <input type="submit" value="Listar" ng-click='Listar()' />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><b>{{logListar}}</b>
            </div>
            </section>
            
<!-- Resultado do comando de Listar -->            
            <section  ng-if='listando'>
            <div>
                <div>
                    <div class="table-responsive">
                        <table class = "table table-bordered table-striped table-hover">
                            <tbody>
                                <tr >
                                    <td bgcolor='#A4A4A4' ><b>ID</b></td>
                                    <td bgcolor='#A4A4A4'><b>Matrícula</b></td>
                                    <td bgcolor='#A4A4A4'><b>Nome</b></td>
                                    <td bgcolor='#A4A4A4'><b>CPF</b></td>
                                    <td bgcolor='#A4A4A4'><b>Perfil</b></td>
                                </tr>
                                <tr ng-repeat="usuario in $ctrl.usuarios">
                                    <td> {{usuario.id}} </td>
                                    <td> {{usuario.matricula}} </td>
                                    <td><b>{{usuario.nome}}</b> </td>
                                    <td> {{usuario.cpf}} </td>
                                    <td> {{usuario.perfil}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><b>{{logListar}}</b>
            </div>
            </section>
            
<!-- Formulario para cadastrar -->
            <section  ng-if='gravando'>
            <div>
                <div>
                    <div class="table-responsive">
                        <registrar-usuario></registrar-usuario>
                    </div>
                </div>
            </div>
            </section>

<!-- Formulario para selecionar o campus a editar -->            
            <section  ng-if='editando'>
            <div>
                <div class="panel-body">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Nome do Campus" ng-model="$ctrl.campus.nome" type="text" autofocus>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div>
                    <div class="table-responsive">
                        <table class = "table table-bordered table-striped table-hover">
                            <tbody>
                                <tr ng-repeat="campus in $ctrl.campus | filter: $ctrl.campus.nome">
                                    <td>{{campus.id}}</td>
                                    <td>{{campus.nome}}</td>
                                    <td>
                                        <input type="submit" value="Selecionar" ng-click=Selecionar(campus) />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </section>

            
<!-- Formulario para selecionar o campus a editar -->            
            <section  ng-if='selecionado'>
            <div>
                <div>
                    <div class="table-responsive">
                        <table class = "table table-bordered table-striped table-hover">
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="text" value="$ctrl.campus.nome" ng-model="$ctrl.campus.nome" autofocus >
                                    </td>
                                    <td>
                                        <input type="submit" value="Editar" ng-click=Update() />
                                    </td>
                                    <td>
                                        <input type="submit" value="Deletar" ng-click=Deletar() />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><b>{{logEdicao}}</b>
            </div>
            </section>
            
        </article>
                            </div>
    </div>
