<menu-principal></menu-principal>

<div id="content">
    <div class="inner">

        <article class="box post post-excerpt">
            <header>
                <h2><p>Gerenciar Departamentos</p></h2>
            </header>
            
            <div>
                <div>
                    <div>
                        <tbody>
                            <td><input type="submit" value="Listar" ng-click=OpcaoListar() /></td>
                            <td><input type="button" value="Cadastrar" ng-click=Gravar() /></td>
                            <td><input type="button" value="Editar" ng-click=Escolher() /></td>
                        </tbody>
                    </div>
                </div>
            </div>
        <br><br>


<!-- Escolha da opcao Listar -->             
            <section  ng-if='opcaolistar'>
                <div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Nome do Campus" ng-model="$ctrl.nome_campus" type="text" autofocus>
                                </div>
                            </fieldset>
                        </form>
                </div>
                    <div>
                        <div class="table-responsive">
                            <table class = "table table-bordered table-striped table-hover">
                                <tbody>
                                    <tr ng-repeat="campus in $ctrl.campus | filter: $ctrl.nome_campus">
                                        <td> {{campus.id}} </td>
                                        <td><b>{{campus.nome}}</b></td>
                                        <td>
                                            <input type="submit" value="Selecionar" ng-click=listdptos(campus.id) />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
            
<!-- Resultado do comando de Listar -->            
            <section  ng-if='listando'>
                <div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Nome do departamento" ng-model="$ctrl.nome_departamento" type="text" autofocus>
                                </div>
                            </fieldset>
                        </form>
                        <div>
                            <div class="table-responsive">
                                <table class = "table table-bordered table-hover">
                                    <tbody>
                                        <tr ng-repeat="departamento in $ctrl.departamentos | filter: $ctrl.nome_departamento">
                                            <td> {{departamento.sigla}} </td>
                                            <td> {{departamento.nome}} </td>
                                            <td><a ng-href="/Oferta/{{departamento.id}}">Oferta</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
<!-- Formulario para cadastrar -->
            <section  ng-if='gravando'>
                <registrar-usuario></registrar-usuario>
            </section>

<!-- Formulario para selecionar o campus a editar -->            
            <section  ng-if='selecionado'>
                <usuario-editar></usuario-editar>
            </section>

            
        </article>
                            </div>
    </div>
