<menu-principal></menu-principal>

<div id="content">
    <div class="inner">

        <article class="box post post-excerpt">
            <header>
                <h2><p>Gerenciar Departamentos</p></h2>
            </header>
            
            <div>
                <div>
                    <div>
                        <tbody>
                            <td><input type="submit" value="Listar" ng-click=OpcaoListar() /></td>
                            <td><input type="button" value="Cadastrar" ng-click=Gravar() /></td>
                            <td><input type="button" value="Editar" ng-click=Escolher() /></td>
                        </tbody>
                    </div>
                </div>
            </div>
        <br><br>


<!-- Escolha da opcao Listar -->             
            <section  ng-if='opcaolistar'>
                <listar-campus></listar-campus>
                cheguei aqui
            </section>
            
<!-- Resultado do comando de Listar -->            
            <section  ng-if='listando'>
            <div>
                <div>
                    <div class="table-responsive">
                        <table class = "table table-bordered table-striped table-hover">
                            <tbody>
                                <tr >
                                    <td bgcolor='#A4A4A4' ><b>ID</b></td>
                                    <td bgcolor='#A4A4A4'><b>Matrícula</b></td>
                                    <td bgcolor='#A4A4A4'><b>Nome</b></td>
                                    <td bgcolor='#A4A4A4'><b>CPF</b></td>
                                    <th colspan="2" bgcolor='#A4A4A4'><b>Perfil</b></th>
                                </tr>
                                <tr ng-repeat="usuario in $ctrl.usuarios">
                                    <td> {{usuario.id}} </td>
                                    <td> {{usuario.matricula}} </td>
                                    <td><b>{{usuario.nome}}</b> </td>
                                    <td> {{usuario.cpf}} </td>
                                    <td> {{usuario.perfil}} </td>
                                    <td ng-if='editando'>
                                        <input type="submit" value="Selecionar" ng-click=Selecionar(usuario) />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><b>{{logListar}}</b>
            </div>
            </section>
            
<!-- Formulario para cadastrar -->
            <section  ng-if='gravando'>
                <registrar-usuario></registrar-usuario>
            </section>

<!-- Formulario para selecionar o campus a editar -->            
            <section  ng-if='selecionado'>
                <usuario-editar></usuario-editar>
            </section>

            
        </article>
                            </div>
    </div>
