<menu-principal></menu-principal>

<div id="content">
                <div class="inner">

                        <article class="box post post-excerpt">
                            <header>
                                <h2><p>{{$ctrl.oferta.disciplina}}</p></h2>
                            </header>
<div>
    <div class="panel-body">
    <div>
<div class="table-responsive">
    <table>
        <tr>
            <td>Ementa <input type="checkbox"  ng-model="ementa" ng-init="ementa=false"></input></td>
            <td>Creditos: {{$ctrl.oferta.creditos}}</td>
        </tr>
    </table>
</div>
        <div  ng-if="ementa">
        <ng-include src="$ctrl.oferta.ementa"></ng-include>
        </div>
<div class="table-responsive">
     <table class = "table table-bordered table-hover">
         <thead  ng-repeat="turma in $ctrl.oferta.turmas" ng-init="parentIndex = $index">
            <b>Turmas</b>
                <tr>
                    <th rowspan="2">Turma {{turma.letra}} </th>
                    <th rowspan="2">Turno: {{turma.turno}} </th>
                    <th rowspan="2">Professor: {{turma.professor}}</th>
                </tr>
         </thead>
            <tbody ng-repeat="turma in $ctrl.oferta.turmas" ng-init="parentIndex = $index">
                <tr>
                    <th>Vagas:</th>
                    <td>Total: {{turma.vagas}} </td>
                    <td>Ocupadas: {{turma.ocupadas}} </td>
                    <td>Restantes: {{turma.restantes}}</td>
                </tr>
                <tr ng-repeat="horario in turma.horarios">
                    <td>{{horario.dia}}</td>
                    <td>{{horario.inicio}}</td>
                    <td>{{horario.fim}}</td>
                    <th colspan="4">Sala: {{horario.sala}}</th>
                </tr>
                <br>
            </tbody>
    </table>
</div>
    </div>
</div>
                </div>
</div>
</div>
