<menu-principal></menu-principal>

<div id="content">
                <div class="inner">

                        <article class="box post post-excerpt">
                            <header>
                                <h2><p>{{$ctrl.oferta.disciplina}}</p></h2>
                            </header>
<div>
    <div class="panel-body">
    <div>
<div class="table-responsive">
    <table>
        <tr>
            <td>Ementa: {{$ctrl.oferta.id_ementa}}</td>
            <td>Creditos: {{$ctrl.oferta.creditos}}</td>
        </tr>
    </table>
</div>
<div class="table-responsive">
     <table class = "table table-bordered table-hover">
            <tbody>
                    <b>Turmas</b>
                <tr ng-repeat="turma in $ctrl.oferta.turmas">
                    <td>Turma {{turma.letra}} <br></td>
                    <td>Turno {{turma.turno}} <br></td>
                    <td>Professor {{turma.professor}} <br></td>
                    <div ng-repeat="horario in turma.horarios">
                        <td>Vagas </td>
                        <td>Total: {{turma.vagas}} </td>
                        <td>Ocupadas: {{turma.ocupadas}} </td>
                        <td>Restantes: {{turma.restantes}}<br></td>
                    </div>
                </tr>
            </tbody>
    </table>
</div>
    </div>
</div>
                </div>
</div>
</div>
